.row {
  margin: 1em;
  padding: 1em;
}


.selectImg {
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(2, 0, 0, 0.596), 0 0 6px rgba(0, 0, 0, 0.527);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  
  cursor: pointer;
}
.selectImg:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(150, 19, 19, 0.664), 0 4px 8px rgba(204, 38, 38, 0.596);
    background: rgb(95, 94, 94);
}

